<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create Json file</title>
    </head>
    <body>
        <form action="/json/createJson" method="post">
            <label for="filename">file name</label>
            <input type="text" name="filename" id="filename" /><br />
            <label>name</label>
            <input type="text" name="name" id="name" /><br />
            <label>email</label>
            <input type="email" name="email" id="email" /><br />
            <label>number</label>
            <input type="number" name="number" id="number" /><br />
            <label>address</label>
            <input type="text" name="address" id="address" /><br />
            <input type="submit" />
        </form>
        <br />
    </body>
</html>
