<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User</title>
        <link href="css/viewstyle.css" rel="stylesheet" />
    </head>
    <body>
        <section class="main_container">
            <% for(var i=0; i < data?.length; i++ ){ %>
            <section class="container">
                <header><%= data[i].name %></header>
                <script>
                    console.log(JSON.parse(`<%- JSON.stringify(data[i]) %>`));
                </script>
                <section class="indv_container"><%= data[i]?.email %></section>
            </section>
            <% } %>
        </section>
    </body>
</html>
